@import "tailwindcss";

:root {
    --text: #4c4f69;
    --text-h: #5c5f77;
    --bg: #eff1f5;
    --border: #8839ef;
    --second-bg: #acb0be;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #cdd6f4;
        --text-h: #bac2de;
        --bg: #1e1e2e;
        --border: #cba6f7;
        --second-bg: #313244;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}
